<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>12366纳税服务热线概况</title>
<meta name="description" content="">
<meta name="Keywords" content="" />
<meta name="author" content="上海12366纳税服务热线">
<!-- 让360双核浏览器用webkit内核渲染页面 !!! 注意，这行最好放在前面，防止浏览器开始解析的时候采用其它内置的渲染方案  -->
<meta name="renderer" content="webkit">
<!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- IOS6全屏 Chrome高版本全屏 -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<!-- Mobile Specific Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<!--调试阶段禁止缓存,例如微信，QQ浏览器缓存-->
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<!-- 公用CSS -->
<link rel="stylesheet" type="text/css" href="css/public.css"
	th:href="@{/css/public.css}">
<link rel="stylesheet" type="text/css" href="css/index.css"
	th:href="@{/css/index.css}">
<script type="text/javascript" charset="utf-8"
	src="Highcharts-5.0.11/code/lib/jquery-1.8.3.min.js"
	th:src="@{/Highcharts-5.0.11/code/lib/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"
	th:src="@{/js/jquery.waypoints.min.js}"></script>
<script type="text/javascript" src="js/jquery.countup.min.js"
	th:src="@{/js/jquery.countup.min.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script th:src="@{/js/china.js}"></script>
<script th:src="@{/js/shanghai.js}"></script>
<script type="text/javascript" src="js/footer.js"
	th:src="@{/js/footer.js}"></script>
<script type="text/javascript" src="js/jk_3_qg_hwzl.js"
	th:src="@{/js/jk_3_qg_hwzl.js}"></script>
<script type="text/javascript" src="js/jk_3_sh_hwzl.js"
	th:src="@{/js/jk_3_sh_hwzl.js}"></script>
<script th:inline="javascript">
	$(function() {
		init();
		//setInterval(init(),60000);
	});
	function init() {
		getFooterTime();
		get3qghwzl();
		get3shhwzl();
		//$("#qg_hwzl").countUp();
		//$("#sh_hwzl").countUp();
		//$("#qg_rgfw").countUp();
		//$("#sh_rgfw").countUp();
	}
</script>
</head>

<body
	style="margin: 0; background-image: url(../img/back_overview.jpg); background-size: cover;">
	<div class="container">
		<div class="left_26">
			<div class="chunk">
				<div>
					<div class="title">
						<span>全国12366纳税服务热线</span>
						<div style="height: 15px;">&nbsp;</div>
						<label>12366 NATIOANAL TAX SERVICE HOTLINE</label>
					</div>
				</div>
				<div>
					<div class="title">
						<span>话务总量</span> <label>Total Voice Traffic</label>
					</div>
					<div class="mvt_num" id="qg_hwzl">0</div>
				</div>
				<div>
					<div class="title">
						<span>人工服务量</span> <label>Operator Service Traffic</label>
					</div>
					<div class="mvt_num" id="qg_rgfw">0</div>
				</div>
				<div>

					<div class="title">
						<span>接通率</span> <label>Connection Rate</label>
					</div>
					<div class="tb_3_pie" th:include="pie_3_l_ConnectionRate"></div>
				</div>
			</div>
		</div>
		<div class="cen_4">
			<!--<div class="chunk" th:include="map_china_3"></div>-->
			<div class="chunk" th:include="map_china"></div>
		</div>
		<div class="right_26">
			<div class="chunk">
				<div>
					<div class="title">
						<span>上海12366纳税服务热线</span>
						<div style="height: 15px;">&nbsp;</div>
						<label>12366 SHANGHAI TAX SERVICE HOTLINE</label>
					</div>
				</div>
				<div>
					<div class="title">
						<span>话务总量</span> <label>Total Voice Traffic</label>
					</div>
					<div class="mvt_num" id="sh_hwzl">0</div>
				</div>
				<div>
					<div class="title">
						<span>人工服务量</span> <label>Operator Service Traffic</label>
					</div>
					<div class="mvt_num" id="sh_rgfw">0</div>
				</div>
				<div>

					<div class="title">
						<span>接通率</span> <label>Connection Rate</label>
					</div>
					<div class="tb_3_pie" th:include="pie_3_r_ConnectionRate"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="img">
			<img src="img/footer_1.png" th:src="@{/img/footer_1.png}" width="26"
				height="26" />
		</div>
		<span>&nbsp;&nbsp;<label id="date"></label>&nbsp;&nbsp;<label
			id="week"></label>&nbsp;&nbsp;<label id="time"> </label>
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;数据截止至上月底
		</span>
	</div>
</body>
</html>