<div id="line_4_ino" style="width:1078px;height:250px;margin-top:-50px;"></div>
<script th:inline="javascript">
    var key=[];
    var val=[];
    var ai=0;
    $.ajax({
        type: "get",
        url: "http://"+window.location.host+"/nfpt/four/getWtlxMx/"+jsons[ai].LXDM,
        async:false,
        data: {},
        dataType: "json",
        success: function(data){
            updateai();
            $("#ino_id").html(jsons[ai].EJMC+"<label> 近12月趋势</label>");
            for(var i=0;i<data.length;i++){
                key.push(data[i].RQ);
                val.push(data[i].SL);
            }
        },error: function(XMLHttpRequest, textStatus, errorThrown){

        }
    });
    function updateai(){
        ++ai;
        if(ai>=jsons.length-1){
            ai=0;
        }
    }
var option = {
	backgroundColor: '',
    tooltip : {
        trigger: 'axis'
    },
    toolbox: {
        show : false,       
    },
    calculable : false,
    grid : {
		x : 100,
		y : 60,
		x2 : 30,
		y2 : 60
	},
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,			
            data:key,
			axisLine: {
				lineStyle: {
					type: 'solid',
					color: '#fff',//左边线的颜色
					width:'2'//坐标线的宽度
				}
			},
			axisLabel: {
				textStyle: {
					color: '#fff',//坐标值得具体的颜色
					fontSize:'18',
					fontWidth:'bold'
				}
			}	
        }
    ],
    yAxis : [
        {
            type : 'value',
			axisLine: {
				lineStyle: {
					type: 'solid',
					color: '#fff',//线的颜色
					width:'2'//坐标线的宽度
				}
			},
			axisLabel: {
				formatter: '{value} ',
				textStyle: {
					color: '#fff',//坐标值得具体的颜色
					fontSize:'15',
					fontWidth:'bold'
				}
			}	
        }
    ],
    series : [
        {
            name:'',
            type:'line',
            stack: '总量',
			symbolSize: 8,//拐点大小
			label: {
                normal: {
                    show: true,
                    position: 'top',
					textStyle:{color:"#fbff05",fontSize:'15'}
                }
            },
			itemStyle : {
				normal : {
				    color:"#1094f6",
					lineStyle:{
						width:5,//折线宽度
						color:"#1094f6"//折线颜色
					}
				}
			},						
            data:val
        }
    ]
};
                    
                    
	var chart = echarts.init(document.getElementById('line_4_ino'));
	chart.setOption(option);
    var dv=[];
    setInterval(function () {
        $.ajax({
            type: "get",
            url: "http://"+window.location.host+"/nfpt/four/getWtlxMx/"+jsons[ai].LXDM,
            async:false,
            data: {},
            dataType: "json",
            success: function(data){

                $("#ino_id").html(jsons[ai].EJMC+"<label> 近12月趋势</label>");


                for(var i=0;i<data.length;i++) {
                    dv[i]=data[i].SL;
                }

                chart.setOption({series:[{data:dv}]});
                updateai();
            },error: function(XMLHttpRequest, textStatus, errorThrown){

            }
        });
    },6000);
</script>